<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<% @notes.each do |note| %>
	<h2><center><%= note.title %></center></h2>
		<p align=right><strong>Date: </strong><%= note.date %><strong> Course: </strong>
		<% @course = Course.find(note.course_id)%>
		<%=@course.name  %></p>
		<p><%= note.content %></p>
		<td><%= link_to 'Edit', edit_note_path(note) %></td>
    	<td><%= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
					
					